.success {
	background-color: var(--color-success);
	color: white;
}
.secondary {
	background-color: var(--color-secondary);
  color: #333;
}
.info { 
	background-color: var(--color-info);
  color: white;
}
.black {
	background-color: var(--color-black);
	color: white;
}
.alert {
	background-color: var(--color-alert);
	color: white;
}
.default {
  background: var(--color-default);
  color: white;
}
.warning {
  background: var(--color-warning);
  color: white;
}
success {
	color: #4CAF50;
}
secondary {
	color: #f1f1f1;
}
info { 
	color: #81BEF7;
}
black {
	color: #000;
}
alert {
  color: #F78181;
}
default {
  color: #1abc9c;
}
warning {
  color: #FF8000;
}
