.success {
	background-color: var(--color-success);
	color: white;
}
.secondary {
	background-color: var(--color-secondary);
  color: #333;
}
.info { 
	background-color: var(--color-info);
  color: white;
}
.black {
	background-color: var(--color-black);
	color: white;
}
.alert {
	background-color: var(--color-alert);
	color: white;
}
.default {
  background: var(--color-default);
  color: white;
}
.warning {
  background: var(--color-warning);
  color: white;
}
success {
	color: var(--color-success);
}
secondary {
	color: var(--color-secondary);
}
info { 
	color: var(--color-info);
}
black {
	color: var(--color-black);
}
alert {
  color: var(--color-alert);
}
default {
  color: var(--color-default);
}
warning {
  color: var(--color-warning);
}
