.success {
	background-color: #4CAF50;
	color: white;
}
.secondary {
	background-color: #f1f1f1;
  color: #333;
}
.info { 
	background-color: #81BEF7;
  color: white;
}
.black {
	background-color: #000;
	color: white;
}
.alert {
	background-color: #F78181;
	color: white;
}
.default {
  background: #1abc9c;
  color: white;
}
.warning {
  background: #FF8000;
  color: white;
}
success {
	color: #4CAF50;
}
secondary {
	color: #f1f1f1;
}
info { 
	color: #81BEF7;
}
black {
	color: #000;
}
alert {
  color: #F78181;
}
default {
  color: #1abc9c;
}
warning {
  color: #FF8000;
}
